<div class="row justify-content-center">
  <div class="col-md-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"></h4>
        <div class="d-flex user-create-post pb-4">
          <img class="img-ls rounded-circle" src="assets/images/faces/face8.jpg" alt="Profile image" />
          <input type="post" class="form-control" placeholder="Hello!" />
        </div>
        <div class="user-action d-flex justify-content-between mt-4">
          <a href="/post" class="btn w-100 btn-otline-dark"><i class="icon-upload"></i> Create Post</a>
          <a href="#" class="btn w-100 btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
          <a href="#" class="btn w-100 btn-otline-dark me-0"><i class="icon-printer"></i> Print</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="time-line">
  <div *ngFor="let post of posts" class="post row justify-content-center">
    <div class="col-md-5">
      <post-component [post]="post" >
      </post-component>
    </div>
  </div>
</div>
