.user-create-post{
  gap: 10px;
  border-bottom: 1px solid #dee2e6;
  /* padding-bottom: 30px; */
}
.user-create-post input{
  cursor: pointer;
  border-radius: 25px;
  padding: 1.2rem 1.375rem;
}
.user-action{
  gap: 10px;
}
.user-action a:hover{
  background-color: #dee2e6;
}
.user-action a{
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 15px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}
.time-line{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
